/* line 5, ../scss/style.scss */
html {
  min-height: 100%;
  position: relative;
}
/* line 8, ../scss/style.scss */
html body {
  margin-bottom: 60px;
}
/* line 11, ../scss/style.scss */
html #footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 60px;
  background-color: #f5f5f5;
}
/* line 17, ../scss/style.scss */
html #footer .footer-block {
  margin: 20px 0;
}
