/* line 11, ../scss/style.scss */
html {
  min-height: 100%;
  position: relative;
}
/* line 14, ../scss/style.scss */
html body {
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
}
/* line 18, ../scss/style.scss */
html #footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 60px;
}
/* line 23, ../scss/style.scss */
html #footer .footer-block {
  margin: 20px 0;
}

/* Bootstrap overrides */
@media (min-width: 768px) {
  /* line 30, ../scss/style.scss */
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
}
/* line 36, ../scss/style.scss */
.navbar-default .navbar-header .navbar-brand {
  padding-top: 0px;
  height: 100px;
}
/* line 39, ../scss/style.scss */
.navbar-default .navbar-header .navbar-brand img {
  height: 100%;
}
@media (min-width: 768px) {
  /* line 44, ../scss/style.scss */
  .navbar-default .navbar-nav {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  /* line 52, ../scss/style.scss */
  .navbar-default .navbar-nav.navbar-left > li.active a {
    color: #24355a;
    background-color: transparent;
  }
  /* line 55, ../scss/style.scss */
  .navbar-default .navbar-nav.navbar-left > li.active a:after {
    background-color: #24355a;
  }
  /* line 59, ../scss/style.scss */
  .navbar-default .navbar-nav.navbar-left > li.active a:hover:after {
    background-color: #24355a;
  }
  /* line 65, ../scss/style.scss */
  .navbar-default .navbar-nav.navbar-left > li > a {
    padding-left: 10px;
    padding-right: 10px;
    color: #71afe0;
    font-weight: bold;
  }
  /* line 71, ../scss/style.scss */
  .navbar-default .navbar-nav.navbar-left > li > a:hover:after {
    background-color: #71afe0;
  }
  /* line 75, ../scss/style.scss */
  .navbar-default .navbar-nav.navbar-left > li > a:after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    content: '';
    width: 28px;
    height: 3px;
    margin-left: -13px;
    background-color: transparent;
    transition: all 0.1s linear;
  }
}
@media (max-width: 769px) {
  /* line 91, ../scss/style.scss */
  .navbar-default .navbar-nav.navbar-right .icon-item {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  /* line 95, ../scss/style.scss */
  .navbar-default .navbar-nav.navbar-right .icon-item a {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 10px;
  }
}
/* line 104, ../scss/style.scss */
.navbar-default .navbar-nav.navbar-right > li > a {
  font-weight: bold;
  color: #354466;
}

/* line 113, ../scss/style.scss */
#footer {
  background-color: #ebebeb;
}
/* line 115, ../scss/style.scss */
#footer .navbar-header {
  float: right;
}
/* line 117, ../scss/style.scss */
#footer .navbar-header .navbar-brand {
  height: 60px;
  padding-top: 10px;
}
/* line 123, ../scss/style.scss */
#footer .navbar-collapse .navbar-nav {
  font-size: 105%;
}
/* line 125, ../scss/style.scss */
#footer .navbar-collapse .navbar-nav > li > a {
  color: #005fa9;
}
/* line 132, ../scss/style.scss */
#footer .navbar-header .navbar-brand img {
  height: 100%;
}

/* Styles */
/* line 140, ../scss/style.scss */
.navbar-icons {
  height: 32px;
  width: 32px;
  background-size: cover;
  display: inline-block;
}
/* line 145, ../scss/style.scss */
.navbar-icons:hover {
  background-position-y: -32px;
}
/* line 148, ../scss/style.scss */
.navbar-icons:focus {
  background-position-y: -64px;
}
/* line 151, ../scss/style.scss */
.navbar-icons.gear {
  background-image: url("/images/icons/gear.png");
}
/* line 154, ../scss/style.scss */
.navbar-icons.database {
  background-image: url("/images/icons/database.png");
}
