@import "compass/css3";

$height-footer: 60px;
$icon-size: 32px;
$link-active-color: #24355a;
$link-color: #71afe0;
$link-dropdown-color: #354466;
$footer-background-color: #ebebeb;
$footer-link-color: #005fa9;

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer;
    font-family: 'Montserrat', sans-serif;
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    .footer-block {
      margin: 20px 0;
    }
  }
}

/* Bootstrap overrides */
.navbar-default {
  @media (min-width: 768px) {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-header {
    .navbar-brand {
      padding-top: 0px;
      height: 100px;
      img {
        height: 100%;
      }
    }
  }
  .navbar-nav {
    @media (min-width: 768px) {
      margin-top: 20px;
    }
    &.navbar-left {
      @media (min-width: 768px) {
        > li {
          &.active {
            a {
              color: $link-active-color;
              background-color: transparent;
              &:after {
                background-color: $link-active-color;
              }
              &:hover {
                &:after {
                  background-color: $link-active-color;
                }
              }
            }
          }
          > a {
           padding-left: 10px;
           padding-right: 10px;
           color: $link-color;
           font-weight: bold;
           &:hover {
             &:after {
               background-color: $link-color;
             }
           }
           &:after {
             position: absolute;
             bottom: 10px;
             left: 50%;
             content: '';
             width: 28px;
             height: 3px;
             margin-left: -13px;
             background-color: transparent;
             transition: all 0.1s linear;
           }
         }
        }
      }
    }
    &.navbar-right {
      .icon-item {
        @media (max-width: 769px) {
          display: inline-block;
        }
        a {
          @media (min-width: 768px) {
            padding-top: 10px;
            padding-left: 5px;
            padding-right: 10px;
          }
        }
      }
      > li {
        > a {
          font-weight: bold;
          color: $link-dropdown-color;
        }
      }
    }
  }
}

#footer {
  background-color: $footer-background-color;
  .navbar-header {
    float: right;
    .navbar-brand {
      height: 60px;
      padding-top: 10px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      font-size: 105%;
      > li > a {
        color: $footer-link-color;
      }
    }
  }
  .navbar-header {
    .navbar-brand {
      img {
        height: 100%;
      }
    }
  }
}

/* Styles */
.navbar-icons {
  height:$icon-size;
  width:$icon-size;
  background-size: cover;
  display: inline-block;
  &:hover {
    background-position-y: (-1 * $icon-size);
  }
  &:focus {
    background-position-y: (-2 * $icon-size);
  }
  &.gear {
    background-image: url('/images/icons/gear.png');
  }
  &.database {
    background-image: url('/images/icons/database.png');
  }
}
